:root {
    --blue-color: #21b5ea;
    --primary-color: #21b5ea;
    --primary-dark: #0082c9;
    --primary-light: #d9f4ff;
    --accent-color: #fff22c;
    --accent-dark: #e3d200;
    --white-color: #fff;
    --black-color: #000000b5;
}

a {
    text-decoration: none !important;
}

body,
html {
    width: 100vw;
    overflow-x: hidden;
}

.pairagraph {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
    line-height: 26px;
}

.text_justify {
    text-align: justify;
}

.pt-100 {
    padding: 95px 0px;
}

.padding_left{
    padding-left: 30px;
}

.sociol_media_side {
    position: absolute;
    left: 13px;
    top: 287px;
}

.sociol_media_side li {
    margin-top: 16px;
}

.sociol_media_side li a:hover i {
    animation: toTopFromBottom 0.3s forwards;
}

@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }

    50% {
        opacity: 0;
        transform: translateY(100%);
    }

    51% {
        opacity: 1;
    }
}

#mdiv {
    background-color: black;
    height: 100vh;
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rot {
    position: absolute;
    width: 170px;
    height: 170px;
    border-right: 0.3rem solid #fff;
    border-radius: 50%;
    animation: pre 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pre {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader .cdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lh img {
    max-width: 90px;
}


/* sideebar start */

.overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    z-index: 1001;
}

.sidebar {
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #fff;
    transition: all 0.3s ease;
    opacity: 0.9;
    z-index: 1002;
    padding-bottom: 25px;
    padding: 10px;
    z-index: 100000;
}

.sidebar.open {
    left: 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    opacity: 1;
}

.menu {
    position: absolute;
    right: 33px;
    top: 33px;
    justify-content: end;
    display: none;
    width: fit-content;
}

.menu img {
    width: 40px;
}

.footer_logo .navbar-brand img {
    width: 200px;
}

/* sideebar end */


/* responsive start */


@media(max-width:1200px) {

    .Home_content h1 br {
        display: none;
    }

    .hero_img {
        height: 100% !important;
        display: flex;
        justify-content: center;
    }

    .hero_img img {
        width: 100%;
        height: 100%;
        max-width: 500px;
        object-fit: inherit;
    }

    .main_box {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: -1;
    }

    .letstalk {
        display: none !important;
    }

    .dot_element img {
        display: none;
    }

}


@media(max-width:991px) {

    .menu {
        display: block !important;
        position: absolute;
        z-index: 10000000;
    }

    header .navbar-nav {
        display: none;
    }

    .hero_content h1 {
        font-size: 45px;
        font-weight: 600;
    }

    .home_section .home_content h1 {
        font-size: 35px;
    }

    .home_section .home_content h1 br {
        display: none;
    }

    .main_heading {
        font-size: 34px;
        font-weight: 600;
        line-height: 46px;
    }

    .about_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_img img {
        width: 80%;
        animation: none;
        transform: translateY(0);
    }

    .about_content {
        padding-left: 0 !important;
    }
    
    .count_style {
        margin-top: 40px !important;
    }

    .why_choose_us {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .why_choose_content {
        padding-left: 0 !important;
    }

    .list_number li i {
        width: 63px;
        height: 40px;
        background-color: #097afd14;
        color: #4c69ca;
        border-radius: 0px 11px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-slider img {
        display: block;
        width: 100%;
        height: 630px;
        object-fit: cover;
    }

    .slider_section .swiper-slide::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #000000, #0e112008);
        z-index: 1;
    }


}

@media(max-width:768px) {

    .hero_content h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .main_heading {
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
    }

    .home_element2 img {
        position: absolute;
        top: 40px;
        left: 18px;
        width: 50px;
        height: 50px;
        opacity: 8;
        animation: rotate-animation 10s infinite linear;
    }

    .pt-100 {
        padding: 80px 0px;
    }

    .padding_left{
        padding-left: 0px;
    }

    .pairagraph br {
        display: none;
    }

    .sociol_media_side {
        position: absolute;
        left: 13px;
        top: 287px;
        display: none;
    }

    .learn-heading {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    .about_img img {
        width: 95%;
        animation: none;
        transform: translateY(0);
    }

    .about_content button {
        display: flex;
        margin: auto;
    }

    .our_costomer {
        padding: 25px;
        position: relative;
    }

    .main_heading br {
        display: none;
    }

    .carousel-control-prev {
        position: absolute;
        left: 0px;
        background: #ffffff4f;
        width: 55px;
        height: 60px;
        top: 77%;
    }

    .carousel-control-next {
        position: absolute;
        right: 0px;
        background: #ffffff4f;
        width: 55px;
        height: 60px;
        top: 77%;
        z-index: 100;
    }

    .child_heading {
        font-size: 16px;
        color: var(--black-color);
        letter-spacing: 3px;
        margin: 0;
    }

    .Home_content p br {
        display: none;
    }

    
.Home_slider {
    position: relative;
    height: 105vh;
    overflow: hidden;
    z-index: 10;
    margin-top: 78px;
}
.carousel-item .slider_img {
    width: 100%;
    height: 105vh;
    object-fit: cover;
}


}


@media(max-width:425px) {

    .home_section .home_content h1 {
        font-size: 30px;
    }

    .counter_style::before {
        content: '';
        position: absolute;
        bottom: 50px;
        left: 130px;
        height: 10px;
        width: 100px;
        background-image: url(../images/blue-line-2.png);
        background-size: cover;
    }

    .counter_style {
        background: 0 0;
        border-right: none;
        margin-top: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column;
        border: 1px solid #4c69ca5e;
        padding: 10px;
    }

    .our_costomer::before {
        content: '';
        position: absolute;
        background-size: cover;
        height: 28px;
        width: 28px;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .our_costomer::after {
        content: '';
        position: absolute;
        background-size: cover;
        height: 30px;
        width: 35px;
        bottom: 5px;
        right: 19px;
        z-index: 100;
    }

    .main_btn {
        padding: 10px 20px;
        border: none;
        outline: none;
        background-color: var(--blue-color);
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: -4px 3px 0px 2px #4c69ca78;
        transition: all linear 0.5s;
    }

    .hero_content h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .Home_content p {
        font-size: 15px !important;
        line-height: 25px;
    }

    .next_btn {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-top: 30px;
    }

    .talk_form_box {
        background-color: #e5e8f3;
        padding: 15px;
    }

    .why_choose_content ul li {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .our_team_section .btn-dark {
        padding: 10px 14px;
        border-radius: 0px 10px;
    }

    .Home_content {
        position: absolute;
        top: 12%;
        left: 5%;
        width: 93%;
    }

    .Home_content h1 br {
        display: none;
    }

    .pairagraph {
        font-size: 15px;
        font-weight: 400;
        color: var(--black-color);
        line-height: 26px;
    }

    .our_costomer {
        padding: 20px 10px;
        position: relative;
    }

    .blog_box {
        position: relative;
        margin-top: 25px;
        transition: all linear 0.4s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background: #fff;
    }

    .slider_section {
        margin-top: 65px;
        position: relative;
    }

    .swiper-button-next2 {
        height: 43px !important;
        width: 43px !important;
        background: white;
        border-radius: 50px;
        color: var(--blue-color);
        position: absolute;
        right: 35px !important;
        top: 517px !important;
    }

    .swiper-button-prev2 {
        height: 43px !important;
        width: 43px !important;
        background: white;
        border-radius: 50px;
        color: var(--blue-color);
        position: absolute;
        top: 517px !important;
        left: 218px !important;
    }

    .faq_box .accordion .top .text {
        display: flex;
    }

    .carousel-item img {
        width: 80%;
    }
}

























